<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My AI Server</title>
</head>
<body>
    <h1>Welcome to My AI Server!</h1>
    <button type="button" onclick="location.href=('train')">Start training your model</button>
    <button type="button" onclick="location.href=('records?model_name=&uploader=&page_num=1')">View previous results</button>
</body>
<footer>
    <div>
        Home: <a href="{{ home }}">{{ home }}</a><br/>
        Contact: <a href="mailto:{{ contact }}">{{ contact }}</a>
    </div>
</footer>