<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Training</title>
</head>
<body>
    <h1>Model Training</h1>
    <h2>Model Information</h2>
    <form action="submit" method="get"> {% csrf_token %}
        <div style="float: left; line-height: 24px;">
            <label for="model_name">Model name:</label><br/>
            <label for="uploader">Uploader:</label>
        </div>
        <div style="line-height: 24px;">
            <input type="text" name="model_name" id="model_name" value="{{ model_name }}" required/>
            <span>{{ error_model_name }}</span><br/>
            <input type="text" name="uploader" id="uploader" value="{{ uploader }}" required/>
            <span class="error">{{ error_uploader }}</span>
        </div>
    <h2>Set Parameters</h2>
        <div style="float: left; line-height: 24px;">
            <label for="lenet_structure">Lenet Structure:</label><br/>
            <label for="optimizer">Optimizer:</label>
        </div>
        <div style="float: left; line-height: 24px;">
            <input type="radio" name="lenet_structure" id="lenet_structure" value="LeNet" {{ checked_lenet }} required/>
            <label>LeNet</label><br/>
            <input type="radio" name="optimizer" id="optimizer" value="SGD" {{ checked_sgd }} required/>
            <label>SGD</label>
        </div>
        <div style="line-height: 24px;">
            <input type="radio" name="lenet_structure" id="lenet_structure" value="LeNetP" {{ checked_lenetp }}/>
            <label>LeNet with an extra convolutional layer</label><br/>
            <input type="radio" name="optimizer" id="optimizer" value="Adam" {{ checked_adam }}/>
            <label>Adam</label><br/>
        </div>
        <div style="float: left;line-height: 24px;">
            <label for="learning_rate" >Learning Rate:</label><br/>
            <label for="batch_size">Batch Size:</label><br/>
            <label for="epoch">Epoch:</label>
        </div>
        <div style="line-height: 24px;">
            <input type="text" name="learning_rate" id="learning_rate" value="{{ learning_rate|default:'0.01' }}" required>
            <span class="error">{{ error_learning_rate }}</span><br/>
            <input type="text" name="batch_size" id="batch_size" value="{{ batch_size|default:'256' }}" required>
            <span class="error">{{ error_batch_size }}</span><br/>
            <input type="text" name="epochs" id="epochs" value="{{ epochs|default:'10' }}" required>
            <span class="error">{{ error_epochs }}</span><br/>
        </div>
        <input type="submit" value="Submit">
        <button type="button" onclick="location.href=('home')">Discard changes and go back to home page</button>
    </form>
    <style>
        .error{
            color: red;
            font-size: small;
        }
    </style>
    <!-- <script language="javascript">
        window.onbeforeunload = function() {
            return "Are you sure to discard changes and leave?";
        };
    </script> -->
</body>

<footer>
    
</footer>